.navbar{
    background-color: #00547B;
}
.jumbotron{
    background-image: linear-gradient(0deg, rgba(39, 38, 39, 0.726), rgba(34, 33, 33, 0.582)),url("Asset-Sipentas/gedung-mall-mpp.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}
.visi-misi{
    color: #4A4A4A;
}
.tracking-perizinan{
    color: #4A4A4A;
}
.jumlah-pendaftar{
    color: #4A4A4A;
}
.kontak{
    color: #4A4A4A;
}
.sertifikasi{
    color: #4A4A4A;
}
.tracking-perizinan-card .card{
    height: 353.48px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.384);
    filter: blur(20);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.visicard .card{
    height: 548.3px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.384);
    filter: blur(20);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.kontak-card .card{
    height: 140px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.384);
    filter: blur(20);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}
.kontak img{
    width: 150px;
    height: 150px;
    z-index: 100000;
    margin-bottom: -5%;
}
.kontak .btn{
    opacity: 55%;
    filter: blur(20);
    color: white;
    font-weight: 700;
}
.tracking-perizinan .btn{
    opacity: 55%;
    filter: blur(20);
    color: white;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.jumbotron .btn {
    filter: blur(20);
    color: white;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar .btn {
    width: 100px;
}

.content-scroll{
    width: 100%;
    height: 320px;
}
.body-content{
    background-image: url("Asset-Sipentas/S.svg");
}
.content-scroll .card{
    background-color: rgba(255, 255, 255, 0.384);
    filter: blur(20);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
